<!DOCTYPE html>
<!-- импорт thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/allStyle.css" type="text/css" rel="stylesheet">
  <title>Результат поиска клиента в БД по номеру телефона</title>
</head>
<body>

<div class="container">
  <img src="/img/adminMM.jpg" class="img">
  <header style="margin-bottom: 100px;">
    <ul style="list-style-type: none; margin-left: 307px">
      <li>
        <button style="margin-top: 30px"><a href="../admin" style="color: darkgreen;">Главное меню</a></button>
      </li>
    </ul>
  </header>

<h3 style="margin-left: 350px; margin-top: 50px; color: rebeccapurple"> Результат поиска клиента в БД по номеру телефона </h3><br>

  <div class="person">
    <div class="elProducts">
      <div>Имя:<i th:text="${personSearch.getName()}"></i></div>
      <div>Номер телефона:<i th:text="${personSearch.getPhoneNumber()}"></i></div>
      <div>email:<i th:text="${personSearch.email}"></i></div>
    </div>
  </div>
</div>

</body>
</html>