<!DOCTYPE html>
<!-- импорт thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/allStyle.css" type="text/css" rel="stylesheet">
    <title>Корзина</title>
</head>
<body>

<div class="container">
    <img src="/img/cartMain.jpg" alt="cart" class="img">
    <header>
        <ul class="ulClass">
            <li>
                <button><a href="home" style="color: darkgreen;">Главная</a></button>
            </li>
            <li>
                <button style="margin-left: 250px"><a href="checkPersonForAuthorization" style="color: darkgreen;"> Вход|Регистрация </a></button>
            </li>
            <li>
                <button><a href="cart" style="color: darkgreen;">Корзина (<span th:text="${countCart}"></span>)</a> </button>
            </li>
        </ul>
        <h2>World Store No. 1</h2>
    </header>

    <span style="margin-left: 200px; color: crimson"> Общая сумма за выбранный товар: <span th:text="${totalPrice}"></span> руб. </span>
    <div th:if="(${totalPrice} == 0) == false">
    <button style="margin-left: 950px">
        <a href="checkPersonForAuthorization" style="color: maroon; border-radius: 10px; color: black">     КУПИТЬ </a>
    </button></div><br>

<!-- перебираем при помощи th (цикла) коллекцию (List) с продуктами в корзине -->
    <div th:if="${productsInTheBasket.isEmpty()} == true" style="margin-left: 500px; margin-top: 200px; color: blueviolet"> В ВАШЕЙ КОРЗИНЕ ПУСТО </div>
    <div class="products">
        <div th:each="product : ${productsInTheBasket}">
            <div class="elProducts">
                <div>Артикул товара:<i th:text="${product.getArticleNumber()}"></i></div>
                <div>Наименование товара:<i th:text="${product.getName()}"></i></div>
                <div>Цена товара:<i th:text="${product.getPrice()}"></i>   руб.</div>
                <button style="margin-bottom: 70px; margin-top: 10px">
                    <a th:href="@{removeProduct(id=${product.getId()})}"> Удалить из корзины </a>
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>

