<!DOCTYPE html>
<!-- импорт thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <!--    <link rel="stylesheet" th:href="@{styleProject.css}" type="text/html"/>-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/allStyle.css" type="text/css" rel="stylesheet">
    <title>Авторизация</title>
</head>
<body>

<div class="container">
    <img src="/img/checkPersonPhone.jpg" alt="checkPersonPhone" class="img">
    <header>
        <ul class="ulClass">
            <li>
                <button><a href="home" style="color: darkgreen;">Главная</a></button>
            </li>
            <li>
                <button style="margin-left: 250px"><a href="checkPersonForAuthorization" style="color: darkgreen;"> Вход|Регистрация </a></button>
            </li>
            <li>
                <button><a href="cart" style="color: darkgreen;">Корзина (<span th:text="${countCart}"></span>)</a> </button>
            </li>
        </ul>
        <h2>World Store No. 1</h2>
    </header>

    <h3 style="margin-left: 588px; margin-top: 50px; color: black; width: 228px;"> Подтвердите свой аккаунт </h3><br>

    <form method="POST" action="/checkPersonForAuthorization">
        <label for="phoneNumber" style="margin-left: 250px; color: black;"> Номер телефона </label>
        <input name="phoneNumber"  type="number" id="phoneNumber" min = "0" style="margin-left: 106px; color: black"/>
        <br/>
        <input type="submit" value="Отправить" style="margin-left: 250px; border-radius: 5px; background: lightgreen; margin-top: 50px"/>
    </form>
</div>

</body>
</html>