<!DOCTYPE html>
<!-- импорт thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/allStyle.css" type="text/css" rel="stylesheet">
  <title> Регистрация </title>
</head>
<body>

<div class="container">
  <img src="/img/form.jpg" alt="form" class="img">
  <ul class="ulClass">
    <li>
      <button><a href="home" style="color: darkgreen;">Главная</a></button>
    </li>
    <li>
      <button style="margin-left: 250px"><a href="checkPersonForAuthorization" style="color: darkgreen;"> Вход|Регистрация </a></button>
    </li>
    <li>
      <button><a href="cart" style="color: darkgreen;">Корзина (<span th:text="${countCart}"></span>)</a> </button>
    </li>
  </ul>
  <h2>World Store No. 1</h2>
  </header>

  <h3 style="margin-left: 250px; margin-top: 50px; color: burlywood"> РЕГИСТРАЦИЯ ПОЛЬЗОВАТЕЛЯ </h3><br>
  <form method="POST" action="/form">

  <!--  for в label должен совпадать с id в input-->
    <label for="name" style="margin-left: 250px; color: red"> Имя </label>
    <input name="name" type="text" id="name" style="margin-left: 113px; color: black"/>
    <br/>
    <label for="phoneNumber" style="margin-left: 250px; color: red"> Номер телефона </label>
    <input name="phoneNumber"  type="number" id="phoneNumber" min = "0" style="margin-left: 30px; color: black; margin-top: 15px; margin-bottom: 15px"/>
    <br/>
    <label for="email" style="margin-left: 250px; color: red"> email </label>
    <input name="email"  type="email" id="email" style="margin-left: 106px; color: black"/>
    <br/>

    <input type="submit" value="Отправить" style="margin-left: 250px; border-radius: 5px; background: lightgreen; color: black; margin-top: 50px"/>
  </form>
</div>

</body>
</html>
