<!DOCTYPE html>
<!-- импорт thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/allStyle.css" type="text/css" rel="stylesheet">
    <title>Главная</title>
</head>
<body>

<div class="container">
    <img src="/img/homeMain.jpg" alt="home" class="img">
    <header>
        <ul class="ulClass">
            <li>
                <button><a href="home" style="color: darkgreen;">Главная</a></button>
            </li>
            <li>
                <button style="margin-left: 250px"><a href="checkPersonForAuthorization" style="color: darkgreen;"> Вход|Регистрация </a></button>
            </li>
            <li>
                <button><a href="cart" style="color: darkgreen;">Корзина (<span th:text="${countCart}"></span>)</a> </button>
            </li>
        </ul>
        <h2>World Store No. 1</h2>
    </header>

<!-- перебираем при помощи th (цикла) коллекцию (List) с продуктами в корзине -->
    <div class="products">
        <div th:each="product : ${products}" >
            <div class="elProducts">
                <div>Артикул товара:<i th:text="${product.getArticleNumber()}"></i></div>
                <div>Наименование товара:<i th:text="${product.getName()}"></i></div>
                <div>Цена товара:<i th:text="${product.getPrice()}"></i>   руб.</div>
                <button style="margin-bottom: 70px; margin-top: 10px">
                    <a th:href="@{addProductToCart(articleNumber=${product.getArticleNumber()},name=${product.getName()},price=${product.getPrice()})}" style="text-decoration: none;"> Добавить в корзину </a>
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>