<!DOCTYPE html>
<!-- импорт thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <!--    <link rel="stylesheet" th:href="@{styleProject.css}" type="text/html"/>-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/allStyle.css" type="text/css" rel="stylesheet">
    <title>Внимание</title>
</head>
<body>

<div class="container">
    <img src="/img/warning.jpg" alt="warning" class="img">
    <ul class="ulClass">
        <li>
            <button><a href="home" style="color: darkgreen;">Главная</a></button>
        </li>
        <li>
            <button style="margin-left: 250px"><a href="checkPersonForAuthorization" style="color: darkgreen;"> Вход|Регистрация </a></button>
        </li>
        <li>
            <button><a href="cart" style="color: darkgreen;">Корзина (<span th:text="${countCart}"></span>)</a> </button>
        </li>
    </ul>
    <h2>World Store No. 1</h2>
    </header>

    <h3 style="margin-left: 250px; margin-top: 50px; color: white"> Не удается войти в аккаунт </h3><br>
    <h3 style="margin-left: 250px; color: white"> Пожалуйста проверьте правильность написания номера телефона или зарегистрируйтесь </h3><br>
    <button style="margin-left: 250px";><a href="form" style="text-decoration: none; color: darkgreen;"> Регистрация </a> </button>
</div>

</body>
</html>