body{
    background: antiquewhite;
}
a{
    text-decoration: none;
}
button{
    border-radius: 5px;
    background: lightgreen;
}
h2{
    color:black;
    margin-left: 600px;
    width: 190px;
}
i{
    color: lightyellow;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.img{
    position: absolute;
    width: 1200px;
    height: 950px;
    z-index: -1;
}
.ulClass{
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 1160px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.products{
    margin-left: 250px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap
}
.elProducts{
    background: darkgray;
    width: 225px;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 50px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    border: 1px solid #607d8b;
}
.person{
    margin-left: 250px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap
}

.buttonAdmin1{
    margin-left: 200px;
    margin-top: 30px;
}
.buttonAdmin2{
     margin-top: 30px;
 }